[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws_cdk.core" = "*"
"aws_cdk.aws_ecs_patterns" = "*"
"coc.py" = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
